{% extends "_onecol.html" %}

{% block title %}SoHeal{% endblock %}

{% block body %}
<h2>Call for Papers</h2>
<p>
  <b>SoHeal</b> does not aim to be a ``pure'' academic-oriented workshop, but rather to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health. Topics for papers and extended abstracts include but are not limited to:
    <ul>
      <li>social, technical and business aspects of software health</li>
      <li>software health at the individual, team or community level</li>
      <li>software health at the software project or ecosystem level</li>
      <li>open source vs. industrial experiences with software health</li>
      <li>software health definition and modelling</li>
      <li>software health measurement and assessment</li>
      <li>qualitative or quantitative studies about software health</li>
      <li>prediction or recommendation models to predict health issues or improve health</li>
      <li>software health tools and dashboards (e.g. for analytics and visualization)</li>
    </ul>
</p>

<p>
  The workshop invites two types of contributions: <b>academic position papers</b> of 6 to 8 pages (including figures, tables and references), or <b>extended abstracts</b> of 1 to 2 pages presenting a practitioner's or industrial point of view. <b>Only</b> academic position papers will be included in the proceedings. The official publication date of the workshop proceedings is the date the proceedings are made available in the ACM Library. This date may be up to two weeks prior to the first day of ICSE 2018.  The official publication date affects the deadline for any patent filings related to published work.
</p>

<p>
  All submissions should provide unpublished and original work that has not been previously accepted for publication nor concurrently submitted for review in another workshop, conference, journal or book. Workshop papers must follow the <a href="https://www.acm.org/publications/proceedings-template">ACM formatting instructions</a> and should be submitted using the <a href="https://easychair.org/conferences/?conf=soheal2018">EasyChair link</a>. If the submission is accepted, at least one author must attend the workshop and present the paper in order to include the paper in the proceedings.
</p>
{% endblock %}
