{% extends "_onecol.html" %}

{% block title %}Committees{% endblock %}

{% block body %}
<h2>Committees</h2>

<h3>Program committee</h3>

<div class="row">
  <h3>Academic</h3>
    <ul>
      <li>Blincoe Kelly, University of Auckland, New Zealand</li>
      <li>Bosch Jan, Chalmers University of Technology, Sweden</li>
      <li>Germonprez Matt, University of Nebraska Omaha, USA</li>
      <li>Goggins Sean, University of Missouri, USA</li>
      <li>Storey Margaret-Anne, University of Victoria, Canada</li>
      <li>Tamburri Damian A., Politecnico di Milano, Italy</li>
      <li>Vasilescu Bogdan, Carnegie Mellon University, USA</li>
      <li>Zacchiroli Stefano, University of Paris-Diderot, France</li>
    </ul>
  <h3>Practitioners</h3>
  <ul>
    <li>Singer Leif, Automattic, Canada</li>
  </ul>
</div>
<div class="clearfix"></div>


<hr />
<h3>Organizing committee</h3>
<div class="row">
  <ul>
    <li>Bram Adams, Polytechnique Montreal, Canada</li>
    <li>Eleni Constantinou, University of Mons, Belgium</li>
    <li>Tom Mens, University of Mons, Belgium</li>
    <li>Gregorio Robles, Universidad Rey Juan Carlos, Spain</li>
  </ul>
</div>
<div class="clearfix"></div>

{% endblock %}
