{% extends "_onecol.html" %}

{% block title %}Committees{% endblock %}

{% block body %}
<h2>Committees</h2>

<h3>Organizing Committee</h3>
<div class="row">
  <ul>
    <li>Bram Adams, Polytechnique Montreal, Canada</li>
    <li>Eleni Constantinou, University of Mons, Belgium</li>
    <li>Tom Mens, University of Mons, Belgium</li>
    <li>Gregorio Robles, Universidad Rey Juan Carlos, Spain</li>
  </ul>
</div>
<div class="clearfix"></div>

<hr />
<h3>Program Committee</h3>
<div class="row">
    <ul>
      <li>Kelly Blincoe, University of Auckland, New Zealand</li>
      <li>Jan Bosch, Chalmers University of Technology, Sweden</li>
      <li>Matt Germonprez, University of Nebraska Omaha, USA</li>
      <li>Sean Goggins, University of Missouri, USA</li>
      <li>Slinger Jansen, University of Utrecht, Netherlands</li>
      <li>Josianne Marsan, Laval University, Canada</li>
      <li>Alexander Serebrenik, Eindhoven University of Technology, Netherlands</li>
      <li>Leif Singer, Automattic, Canada</li>
      <li>Margaret-Anne Storey, University of Victoria, Canada</li>
      <li>Damian A. Tamburri, Politecnico di Milano, Italy</li>
      <li>Bogdan Vasilescu, Carnegie Mellon University, USA</li>
      <li>Stefano Zacchiroli, University of Paris-Diderot, France</li>
    </ul>
</div>
<div class="clearfix"></div>

{% endblock %}
