{% extends "_onecol.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h2>Welcome to <span class="brand-blue">SoHeal</span> website!</h2>
<p>
  Factors impacting software health can vary depending on the viewpoint of the involved stakeholders: software quality attributes concern the source code artefacts, social factors concern the community of contributors maintaining the software artefacts, and business factors concern commercial aspects of the software product. Because of this variety, there is no clear definition of what constitutes software health, since it encompasses many different development and evolution attributes, including success, longevity, growth, resilience, survival, diversity, sustainability, etc.
</p>

<p>
  The research community and the industry have realized only the last couple of years the need for a socio-technical perspective concerning software health. Such a perspective is challenging, however, due to the volatile storage of information regarding social relations, conflicts and interactions. There is a need to find better methods, techniques and tools to monitor social software health, as well as to predict and take corrective measures when health implications arise. Finally, a project's health should also consider the health of the ecosystem in which the project participates to obtain a holistic view of software health. Thus, a better understanding is needed of how the health metrics, indicators and their operationalization can be aggregated from project-level to ecosystem level.
</p>
{% endblock %}
