{% extends "_onecol.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h2>Welcome to SoHeal website!</h2>
<img class="location-picture" src="{{ "assets/pictures/gothenburg.png"|relative }}" />
<p style="font-size:22px">
  The 1st International Workshop on Software Health (<b>SoHeal 2018</b>) will be co-located with the 40th International Conference on Software Engineering (<a href="https://www.icse2018.org/" target="_blank"><b>ICSE 2018</b></a>) in Gothenburg in Sweden.
</p>

<p>
  Factors impacting software health can vary depending on the viewpoint of the involved stakeholders: process factors, technical factors concerning the source code and related software artefacts, social factors concerning the communities of software contributors and users, and business factors concerning commercial aspects of the software product. Because of this variety, there is no clear definition of what constitutes software health, since it encompasses many different development and evolution attributes, including success, longevity, growth, resilience, survival, diversity, sustainability, etc.
</p>

<p>
  As can be witnessed by recent initiatives such as the Linux Foundation’s <a href="https://chaoss.community/">CHAOSS project</a> on community health analytics
  and the <a href="https://secohealth.github.io">SecoHealth</a> research project on software ecosystem health, the research community and the industry have realized the need for a socio-technical perspective concerning software health. Such a perspective is challenging, due to the volatile storage of information regarding social relations, conflicts and interactions. There is a need to find better methods, techniques and tools to monitor software health, as well as to predict and take corrective measures when health implications arise. Finally, a project's health should also consider the health of the ecosystem in which the project participates to obtain a holistic view of software health. Thus, a better understanding is needed of how the health metrics, indicators and their operationalization can be aggregated from project-level to ecosystem level.
</p>

<p>
  <b>SoHeal</b> aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health.
</p>

<h2>Important dates</h2>
<ul>
  <li><b>Abstract submission</b>: January 29, 2018</li>
  <li><b>Paper submission</b>: February 5, 2018</li>
  <li><b>Notification</b>: March 5, 2018</li>
  <li><b>Camera Ready</b>: March 15, 2018</li>
  <li><b>Workshop</b>: May, 2018</li>
</ul>

<h2>Latest Tweets</h2>
<a class="twitter-timeline" href="https://twitter.com/iw_soheal?ref_src=twsrc%5Etfw">Tweets by iw_soheal</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
