/* LAYOUT */
#content {
  margin-top: 5em;
  margin-bottom: 2em;
}

footer {
  color: gray;
  padding: 1em 0em 1em 0em;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand img {
  margin-top: -1em;
  width: auto;
  height: 55px;
  float: left;
}

.location-picture {
  padding-top: 5px;
  max-width: 100em;
  max-height: 20em;
  padding-top: 5px;
}

.member-picture {
  max-width: 8em;
  max-height: 8em;
}

.member-picture.pull-left {
  margin-right: 1em;
}

.member-logo {
  max-width: 8em;
  max-height: 3em;
}

/* TYPOGRAPHY */
.brand-blue { color: #0A189C; }
.brand-red { color: #BF0014;  }
.brand-grey { color: #6F8096; }

p {
  text-align: justify;
}

.invisible {
  visibility: hidden;
}
