<div class="clear-fix"></div>
<footer>
  <div class="container-fluid">
  	<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-sm">

          <div class="text-center pull-right">
            <a href="https://www.facebook.com/iwsoheal/"> <i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://twitter.com/iw_soheal"> <i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://github.com/soheal"> <i class="fa fa-fw fa-github"></i></a>
            <a href="mailto:wsoheal@gmail.com"> <i class="fa fa-fw fa-envelope"></i></a>
          </div>
          <div class="text-center">
            <span class="fa fa-copyright"></span> 2017-2018 | <span class="brand-grey">SoHeal</span>
          </div>
        </div>
      </div>
  	</div>
  </div>
</footer>
